@{
    ViewData["Title"] = "Home Page";
}

<h1>Select a chat Group:</h1>

@foreach(Group group in Model)
{
  <li>@Html.ActionLink($"{group.GroupName}", "Details", new { id = group.GroupId })</li>
}

<a href="/groups/create">
    <button class="btn btn-dark btn-lg">Create Group</button>
</a>