@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@* <p>@Html.ActionLink("View Groups", "Index","Groups", null, new { @class = "btn btn-dark btn-large" } )</p> *@

<!-- <p>@Html.ActionLink("View Messages", "Index","Messages", null, new { @class = "btn btn-dark btn-large" } )</p> -->
